:root {
  --text-color: #fff;
  --border-color: #000;
  /* --font-family:"Chewy", cursive; */
}

@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

body {
  font-family: "Exo", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
*:focus {
  border: 2px solid red;
}

/*animated background*/

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* z-index: 0; */
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* Rules related css*/

.rule {
  background-color: rgb(65, 209, 214);
  /* height: 600px; */
  width: 40%;
  position: absolute;
  top: -50%;
  transition: 0.5s ease;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 2rem; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
  border-radius: 10px;
}

.ruleFirstSection {
  /* border: 1px solid black; */
  padding: 1px 16px;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 10px;
  color: var(--text-color);
  height: 20%;
  font-family: var(--font-family);
}

/* .ruleClose{
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
} */
.ruleFirstSection h2 {
  font-size: 200%;
  padding: 0;
  margin: 15px;
}
.ruleSecondSection {
  /* border: 1px solid black; */
  line-height: 1.6;
  padding: 1px 16px;
  text-align: center;
  color: var(--text-color);
  /* font-family: var(--font-family); */
  display: flex;
  flex-flow: column;
  /* height: 60%; */
  justify-content: center;
}
.rule-third-section {
  /* border: 1px solid; */
  display: flex;
  padding: 20px 0;
  justify-content: center;
  /* height: 20%; */
}
.start-button {
  background: black;
  color: var(--text-color);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
.start-button:hover {
  background: rgb(68, 67, 67);
}
.ruleSecondSection p {
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  overflow: auto;
  font-size: 1.5em;
}
@media (width<1200px) {
  .rule {
    width: 60%;
  }
}
@media (width<800px) {
  .rule {
    width: 80%;
  }
  .ruleSecondSection p {
    font-size: 1.2em;
  }
}
@media (width < 700px) {
  .rule {
    width: 70%;
  }
  .ruleSecondSection p {
    font-size: 1em;
  }
}
@media (width < 500px) {
  .ruleSecondSection p {
    font-size: 1em;
  }
  .ruleFirstSection h2 {
    font-size: 150%;
  }
  .game-board {
    width: 100%;
  }
}

@media (width < 400px) {
  .rule {
    width: 90%;
    height: 460px;
  }
  .ruleFirstSection {
    height: 10%;
  }
  .ruleSecondSection {
    height: 67%;
  }
  .ruleSecondSection p {
    font-size: 1em;
  }
  .ruleFirstSection h2 {
    font-size: 115%;
  }
  .start-button {
    padding: 10px 38px;
  }
}
/* rules end */

/* game board */

.game-board {
  display: none;
  /* display: grid; */
  /* grid-template-rows: repeat(4,1fr); */
  /* border: 2px solid rgb(65, 209, 214); */
  height: 80vh;
  width: 50%;
  margin: auto;
  position: relative;
  z-index: 1;
  margin-top: 1rem;
  /* overflow: auto; */
}
.showScore {
  display: none;
  /* position: absolute;
  z-index: 0; */
  font-size: 3em;
  color: greenyellow;
  left: 45%;
  top: 2%;
  background: rgba(189, 16, 224, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
}
@media (width<700px) {
  .game-board {
    width: 90%;
  }
}

.board-row {
  border: 2px solid rgb(59, 199, 117);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1 1fr;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 2px solid blueviolet;
  text-align: center;
  color: var(--text-color);
}
.counted {
  content: "";
  opacity: 0.5;
}

/* game board end */

/* score screen */
.score-screen {
  display: none;
  background-color: rgb(65, 209, 214);
  height: 400px;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.507);
  border-radius: 10px;
  color: var(--text-color);
  text-align: center;
}

.score-card {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.score-card-text {
  font-size: 1.2rem;
}

.score-card-game-mode {
  font-size: 2.5rem;
}

.score-btn {
  padding: 0.5rem 2rem;
  cursor: pointer;
  border-radius: 10px;
  border: none;
}

.score {
  font-size: 3rem;
  font-weight: bold;
}

.score-btn {
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #434343 51%,
    #000000 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--text-color);
  border-radius: 10px;
}

.score-btn:hover {
  background-position: right center;
  color: var(--text-color);
  text-decoration: none;
}

/* score screen responsive */
@media (width < 800px) {
  .score-screen {
    width: 80%;
  }
}
/* @media (width<800px){ */
/* .rule{
    width: 80%;
  } */
/* } */
/* @media (width < 450px) {

} */

@media (width < 450px) {
  .score-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .score-btn {
    display: block;
  }
  .score-card-text {
    font-size: 1rem;
  }

  .score-card-game-mode {
    font-size: 1.8rem;
  }
}

@media (width < 450px) {
}
/* end of scores css */

/* footer */
footer {
  position: absolute;
  bottom: 0px;
  color: var(--text-color);
  left: 50%;
  transform: translate(-50%, -50%);
}

footer > a {
  text-decoration: none;
  color: #3ca72f;
}

footer > a:hover {
  background-image: linear-gradient(
    to right,
    #000000 0%,
    #434343 51%,
    #000000 100%
  );
}
